<!DOCTYPE html>
<html>
<head>
    <title>Beater Meter</title>
   <script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
</head>
<body>
    <canvas id="barChart"></canvas>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const value = {{rating}};
            const color = function (value) {
                    if (value >= 80) {
                        return "rgba(75, 192, 192, 1)"; // Green
                    } else if (value >= 50 && value < 80) {
                        return "rgba(255, 206, 86, 1)"; // Yellow
                    } else {
                        return "rgba(255, 99, 71, 1)"; // Red
                    }
                }

            const chartData = {
                labels: ["Beater?"],
                datasets: [
                    {
                        data: [value],
                        backgroundColor: color(value),
                        borderColor: color(value),
                        borderWidth: 1
                    }
                ]
            };

            const chartCanvas = document.getElementById("barChart").getContext("2d");

            new Chart(chartCanvas, {
                type: "horizontalBar",
                data: chartData,
                options: {
                    title: {
                        display: true,
                        text: "Beater Meter"
                    },
                    legend: {
                        display: false
                    },
                    scales: {
                        xAxes: [
                            {
                                ticks: {
                                    beginAtZero: true,
                                    stepSize: 20,
                                    max: 100,
                                }
                            }
                        ]
                    }
                }
            });
        });
    </script>
</body>
</html>