<h2>Categorie</h2>
<div class="container">
  <div class="row">
    Total Vehicles: {{vehicles.length}}
    {{#if vehicles.length}}
      {{#each vehicles}}
        <div class="col-md-3">
          {{> vehicle-card this}}
        </div>
      {{/each}}
    {{else}}
      <p>No vehicles available.</p>
    {{/if}}
  </div>
</div>



