<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
<h1>Tin Lizze</h1>
    </header>
    <main>

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        {{#if loggedIn}}
    <button id="logout">Logout</button>
    <button id="vehicle-registration">Become a Seller</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
    </ul>
</nav>
    </main>
      {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
    </body>

