<section style="background-color: #4C4C4C;">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-11">
            <div class="card rounded-3 text-black" style="background-color: #fff">
                <div class="col-xl-11">
                    <div class="card-body p-md-5 mx-md-4">
                    <h1>Placeholder for cards</h1>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra suspendisse potenti nullam ac tortor vitae purus. Adipiscing elit pellentesque habitant morbi tristique senectus et netus. Vestibulum lorem sed risus ultricies tristique. Iaculis at erat pellentesque adipiscing commodo elit. Justo donec enim diam vulputate ut pharetra sit amet. Sem nulla pharetra diam sit amet nisl. Nibh ipsum consequat nisl vel pretium. Gravida cum sociis natoque penatibus et magnis dis parturient. Lacus suspendisse faucibus interdum posuere lorem. Nisl tincidunt eget nullam non nisi est. Dui vivamus arcu felis bibendum ut tristique et egestas. Tincidunt vitae semper quis lectus nulla. Nunc consequat interdum varius sit amet.
                    <br><br>
                    Ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas. Sapien et ligula ullamcorper malesuada proin libero nunc. Suspendisse potenti nullam ac tortor vitae purus faucibus ornare. Maecenas volutpat blandit aliquam etiam. Sit amet justo donec enim diam vulputate ut pharetra. In pellentesque massa placerat duis ultricies lacus sed turpis. Adipiscing bibendum est ultricies integer quis auctor elit sed. Cras ornare arcu dui vivamus arcu felis bibendum ut tristique. Adipiscing tristique risus nec feugiat in fermentum posuere urna nec. Fames ac turpis egestas maecenas pharetra. Nam aliquam sem et tortor consequat. Tristique sollicitudin nibh sit amet commodo.
                    </div>
                    <div class="card-body p-md-4 mx-md-3 text-center">
                        <button class="btn btn-primary fa-lg gradient-custom mb-3" type="button">Recently Viewed</button>
                        <button class="btn btn-primary fa-lg gradient-custom mb-3" type="button">Most Viewed</button>
                        <button class="btn btn-primary fa-lg gradient-custom mb-3" type="button">Price - High to low</button>
                        <button class="btn btn-primary fa-lg gradient-custom mb-3" type="button">Price - Low to high</button>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>