<section class="py-3 py-md-5" style="background-color: #4c4c4c">
    <div class="container">
        <h2>Thanks for joining TinLizzie</h2>
      <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
            
        </div>
        <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
        <div class="col-12 col-md-8 mb-5">
            <div class="d-flex">
                <div class="col-md-5 text-center">
                    <div class="container">
                        Total Vehicles: {{vehicles.length}}
                    <div class="row">
                        {{#each vehicles}}
                            <div class="col-md-3">
                            {{> vehicle-card this}}
                            </div>
                        {{/each}}
                    </div>
                    </div>
                </div>
 
            </div>
        </div>
        </div>
    </div>
</section>