<section class="h-100 gradient-form" style="background-color: #4C4C4C;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-15">
              <div class="card rounded-3 text-black" style="background-color: #fff">
                <div class="row g-0">
                  <div class="col-lg-6">
                    <div class="card-body p-md-5 mx-md-4">
      
                      <div class="text-center">
                        <h1>Welcome to Tin Lizzie</h1>
                      </div>
      
                      <form>
                        <p>Please login to your account</p>
      
                        <div class="form-outline mb-4">
                          <input  id="email" class="form-control"
                            placeholder="email address" />
                          <label class="form-label" for="email">Email</label>
                        </div>
      
                        <div class="form-outline mb-4">
                          <input type="password" id="password" class="form-control" />
                          <label class="form-label" for="password">Password</label>
                        </div>
      
                        <div class="text-center pt-1 mb-5 pb-1">
                          <button class="btn btn-primary btn-block fa-lg gradient-custom mb-3" type="button" id="login">Log
                            in</button>
                        </div>
      
                        <div class="d-flex align-items-center justify-content-center pb-4">
                          <p class="mb-0 me-2">Don't have an account?</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-center pb-4"><a href="/registration"><button type="button" class="btn btn-outline">Create new</button></a></div>
                      </form>
      
                    </div>
                  </div>
                  <div class="col-sm-6 d-flex align-items-center">
                      <img src="\images\TinLizzie Logo1.png" width="750px" alt="tinlizzielogo1">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <script src="./js/login.js"></script>