@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lora&family=Merriweather:wght@900&display=swap');

body {
    background: #4c4c4c;
    color: #fff;
    font-family: 'Lora', serif;
}

#incorrect-text {
    display: none;
    color: red;
    text-align: center;
}

.header {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    background-color: #333; 
    color: #fff; 
    padding: 10px 20px; 
    height: 150px;
}
  
.logo img {
    max-width: 250px; 
    margin-right: 20px; 
    position: relative;
}
  

.menu ul {
    list-style-type: none; 
    padding: 0; 
}
  
.menu li {
    display: inline;
    margin-right: 20px; 
}
  
.menu a {
    color: #fff; 
    text-decoration: none; 
}
  
.menu a:hover {
    text-decoration: underline; 
}

.container {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px;  
}

h1 {
    font-family: 'Courgette', cursive;
    text-shadow: 4px 4px 10px rgba(161,255,199,1);
}

h2 {
    font-family: 'Courgette', cursive;
    color: #a1ffc7;
    font-size: 50px;
    text-align: center;
}

h3 {
    font-family: 'Merriweather', serif;
}

a:link, a:visited {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #fff;
    letter-spacing: 2px;
}

b {
    color: #a1ffc7;
}

textarea {
    margin-left: 10px;
    margin-bottom: 11px;
}
.gradient-custom {
    /* fallback for old browsers */
    background: #242323;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(36,35,35,1), rgba(161,255,199,1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(36,35,35,1), rgba(161,255,199,1))
}

.btn-outline {
    background: linear-gradient(to right, rgba(36,35,35,1), rgba(161,255,199,1)) border-box;
    color: #fff;
    border: solid 1px #000;
    }
.btn-outline:hover, .btn-outline:active {
    background: linear-gradient(to right, rgba(36,35,35,1), rgba(161,255,199,1)) border-box;
    color: #fff!important;
    border: solid 1px #000;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,0.075);
    }

footer {
    justify-content: center;
    align-items: center;
    text-align: center;

    color: #fff;
    background-color: #4c4c4c;
    padding: 5px;
    }

    
@media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }}

@media (min-width: 769px) {
    .gradient-custom {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }}

/*compatibility */
@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

.card {
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    margin-bottom: 20px; 
    background-color: white; 
    transition: transform 0.2s ease-in-out; 
    margin-bottom: 30px;
    background-color: #333;
}


.card:hover {
    transform: translateY(-5px); 
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.card-content {
    padding: 10px;
    margin-bottom: 10px; 
}

.card-img {
    border-radius: 10px 10px 0 0; 
    width: 100%; 
    height: auto; 
}

.card-info {
    margin: 5px 0; 
}



.product-container {
    display: flex;
    margin: 20px;
    background-color: #464444;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product-image {
    flex: 1;
    padding: 20px;
}

.product-image img {
    max-width: 100%;
    height: auto;
}

.product-details {
    flex: 2;
    padding: 20px;
}

.product-details h1 {
    font-size: 52px;
    margin-bottom: 10px;
}

.product-details p {
    margin: 5px 0;
    font-size: 32px;
    color: #fff;
}

.buy-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;
}

.buy-button:hover {
    background-color: #0056b3;
}
